/* body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
  } */


  .main-menu{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,235,219,1) 100%);
position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    
}

  
  .boops {
      display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  #play-button{
    z-index: 10;
    /* position: fixed; */
    /* position: relative; */
  }
  
  /* button {
    background: #d459ab;
    border: none;
    border-radius: 0.5rem;
    color: white;
    display: block;
    font-size: 2rem;
    font-weight: 900;
    padding: 0.25rem 1rem;
    position: relative;
    z-index: 10;
  } */